<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bruce.testdemo">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/slient"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/slient"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

    </activity>
        <activity android:name=".GuideActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".wxphoto.wxActivity"/>
        <activity android:name=".wxphoto.ImagePagerActivity"/>

        <activity android:name=".wxphotorecyclerview.WxRecyclerViewActivity"/>
        <activity android:name=".wxphotorecyclerview.ImageShowActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparent"
            />

        <activity android:name=".imagewatcher.ImagewatcherAct"/>
        <activity android:name=".imagewatcher.ImagewatcherAct2"/>
        <activity android:name=".QQ.QQBottomAct"/>
        <activity android:name=".recycleviewnoanim.CollapsingToolbarLayoutActivity"/>

        <!-- 带动画的rv-->
        <activity android:name=".recycleviewanim.PullToRefreshActivity"/>
        <!-- 带动画的rv-->
    </application>

</manifest>